<h1 style="text-align: center;">Hot Juicy Burgs!</h1>
<div>
    <div class="row">
        <div class="panel col-lg-5">
            <h6>login</h6>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="password">password:</label>
                    <input type="text" id="password" name="password">
                    <label for="email">email:</label>
                    <input type="text" id="email" name="user_email">
                </div>
                <button type="submit">Add Burg</button>
            </form>
        </div>
    </div>