<h1 style="text-align: center;">Hot Juicy Burgs!</h1>
<div>
    <div class="row">
        <div class="panel col-lg-5">
            <h6>Burgs Not Eaten</h6>
            <form action="/mobile/users" method="POST">
                <div class="form-group">
                    <label for="name">username:</label>
                    <input type="text" id="name" name="username">
                    <label for="first">first Name:</label>
                    <input type="text" id="first" name="first_name">
                    <label for="last">last Name:</label>
                    <input type="text" id="last" name="last_name">
                    <label for="email">email:</label>
                    <input type="text" id="email" name="user_email">
                    <label for="phone">phone:</label>
                    <input type="text" id="phone" name="user_phone">
                    <label for="address">address:</label>
                    <input type="text" id="address" name="user_address">
                    <label for="zip">zipcode:</label>
                    <input type="text" id="zip" name="user_zipcode">
                </div>
                <button type="submit">Add Burg</button>
            </form>
        </div>
    </div>
</div>